.button {
    border-radius: 5px;
    padding: 5px;
    color: black;
    width: 50%;
    height: 45px;
}

.primary {
    background-color: hotpink;
}

.secondary {
    background-color: aquamarine;
}

.alert {
    background-color: red;
    width: 25%;
}