.buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 20px;
    width: 100%;
}

.formInputs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.message {
    font-size: 0.8rem;
    color: lightgray;
    padding: 5px;
}