.buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 20px;
}

.formInputs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}