
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
}

.section {
  width: 50%;
  border: 1px solid lightblue;
  padding: 20px;
}
