.materialOptions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-content: center;
  align-items: center;
}

.materialOptionsInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.materialOptionsInput {
  height: 45px;
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
}

.materialOptionsSelect {
  color: black;
  width: 100%;
}

@media screen and (max-width: 560px) {
  .materialOptionsInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid lightblue;
    padding-top: 10px;
  }
  .materialOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
