.toast {
  min-width: 200px; 
  width: 50%;
  background-color: white; 
  color: black;
  border-radius: 2px;
  padding: 16px; 
  z-index: 100;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.toastHeader {
  display: flex;
  padding: 5px;
  flex-direction: row-reverse;
  border-bottom: 1px solid lightblue;
  margin-bottom: 5px;
}

.toastButton {
  width: 25%;
  height: 35px;
  padding: 5px;
}



/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
